[submodule "renderer"]
	path = renderer
	url = git@github.com:CodingAvenue/ca-school-renderer.git
[submodule "courses/ca-school-php-introduction"]
	path = courses/ca-school-php-introduction
	url = git@github.com:CodingAvenue/ca-school-php-introduction.git
